/*リセットcss*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}
.header-box{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	background-color: #ec715f;
}
.logo{
	float: left;
	height: 70px;
}
.nav-list {
	float: right;
	text-align: center;
	height: 70px;
	padding: 25px 0;
}
.nav-list-item{
	margin: 0 30px;
	font-size: 16px;
	color: #fafafa;
	list-style: none;
	display: inline-block;
}
.main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-content{
	padding-top: 200px;
	margin: 0 auto; /*中央寄せ*/
}
.main-visual-lipsum{
	font-size: 64px;
	color: #fafafa;
	text-align: center;
}
.main-visual-text{
	padding-top: 10px;
	font-size: 20px;
	color: #fafafa;
	text-align: center;
}
.background{
	background-color: #eceff1;
	width: 100%;
	padding: 90px 0;
}
.portfolio{
	width: 920px;
	margin: 0 auto;
}
.h2-text{
	font-size: 32px;
	color: #000000;
	text-align: center;
	}
.border-line{
	height: 8px;
	width: 70px;
	border-bottom: 3px solid #ec715f;
	margin: 0 auto;
}
.portfolio-text{
	width: 920px;
	padding: 30px 0;
	text-align: center;
}
.text {
	font-size: 16px;
	color: #000000;
}
.portfolio-image{
	float: left;
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
}
.portfolio-image:nth-child(1){
	margin: 0 10px 10px 0;
	background-image: url(img/sketch.jpg);
}
.portfolio-image:nth-child(2){
	margin: 0 10px 10px 0;
	background-image: url(img/websuku.png);
}
.portfolio-image:nth-child(3){
	margin: 0 0 10px 0;
	background-image: url(img/write.jpg);
}
.portfolio-image:nth-child(4){
	margin: 0 10px 0 0;
	background-image: url(img/webcamp.png);
}
.portfolio-image:nth-child(5){
	margin: 0 10px 0 0;
	background-image: url(img/talk.jpg);
}
.portfolio-image:nth-child(6){
	background-image: url(img/webcamp-mother.png);
}
.background2 {
	width: 100%;
	padding: 90px 0;
}
.feature {
	width: 980px;
	margin: 0 auto;
}
.feature-text {
	padding: 30px 0;
	text-align: center;
}
.strength{
}
.strength-box {
	float: left;
	width: 320px;
	height: auto;
	background-color: gray;
}
.strength-box2 {
	width: 320px;
	margin: 0 auto;
}
.fab {
	font-size: 60px;
}
.h3-text {
	font-size: 20px;
	color: #000000;
}
.strength-box:nth-child(2){
	margin: 0 10px;
}
.strength-font {
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
}
.profile-box{
	width: 1024px;
	margin: 0 auto;
}
.profile-text {
	padding: 30px 0;
	text-align: center;
}
.profile-image-box {
	float: left;
	width: 512px;
}
.profile-image {
	width: 250px;
	height: 250px;
	background-size: cover;
	background-position: center;
	background-image: url(img/my-icon.jpg);
	border-radius: 50%;
	margin: 0 auto;
}
.my-text{
	padding-top: 5px;
	padding-bottom: 8px;
}